**Variables, expressions and statements**

+ type shows the type of data

- variables are names that refers to a variable
- we use = sign

greeting="habari gani"

print(greeting)

Donts

no spaces=_

cant start with numbers

no use of key words eg if else

- operators represent computations like addition
- operands is the value the operator is applied to

and-&&

%- brings the remainder

or-||

p-parenthesis

E-exponential(**)

M-*

D-/

A-+

S

PEMDAS

- Import math for python library
- math.pow(2,3)=8
- math.log
- math.pi
- math.sqrt
- math.floor(4.3)=4
- math.ceil(4.6)=5

type conversion using function
a=3.142
int(a)
type a

In [23]:
v=1.355

In [24]:
type(v)

float

In [25]:
int(v)

1

In [28]:
a=3.142
type(a)
type(int(a))

int

In [30]:
w= 2
type(str(w))
print(w)

2

In [22]:
import math
print (math.floor(4.5))

4

In [11]:
width = 5
length = 6
area = length*width
print(area)

30

In [17]:
import math
r=5
v=4/3*math.pi*r**3
print(v)

523.5987755982989

In [21]:
import math
print(math.log (10))

2.302585092994046

In [4]:
type(1)

int

In [23]:
type(1.0)

float

In [6]:
type("Hello")

str

In [8]:
type(True)

bool

In [3]:
'Hello World'

'Hello World'

In [2]:
print("Hello")

Hello

In [9]:
greetings="Habari"
print (greetings)

Habari

## Class Two
- string is a sequence of characters
- python indexing includes the first excludes the last
- triple quotations using multi line(19)
- .replace 
- .upper
- .lower
- .find
- python for input function uses **input()

## Conditional Statements
- if else statements
if condition 1

   statement

else

   statement

In [22]:
w= int(input("number?"))

if w > 0:
   print("positive")
elif w == 0:
    print("zero")
else:
   print("negative")

number?0
zero

In [52]:
input("what is your name")

what is your nameharry

'harry'

In [53]:
name= input("what is your name")

what is your nameKevin

In [54]:
name

'Kevin'

In [55]:
name= input("what is your name")
age= input("what is your age")

what is your nameHarrison
what is your age19

In [56]:
print("I am",name,"of",age,"years")

I am Harrison of 19 years

In [2]:
name= input("name?")
age= input("age?")

name?Harrison
age?19

In [8]:
print("I am {}".format(name),"of {} years".format(age))

I am Harrison of 35 years

In [9]:
age= int(input("age?"))
age/2

age?20

10.0

In [1]:
name= input("name?")

name?Harrison

In [19]:
print("""come home
please
i miss you""")

come home
please
i miss you

In [4]:
age=35
print("My age is",age)
print("My age is",age,"years old")
print("My age is age")
print("I am()years".format[age])

My age is 35
My age is 35 years old
My age is age

TypeError: 'builtin_function_or_method' object is not subscriptable

In [35]:
fruit="banana"
fruit

'banana'

In [10]:
fruit[5]

'a'

In [13]:
fruit[0:5]

'banan'

In [14]:
fruit[:3] + fruit[3:]

'banana'

In [37]:
fruit[-2]

'n'

In [38]:
word= "P"
word + fruit[1:]

'Panana'

In [33]:
numbers=[10,20,30]
numbers[0]

10

In [34]:
numbers[0] =100
numbers

[100, 20, 30]

In [38]:
fruit

'banana'

In [47]:
fruit.find('a')

1

In [48]:
'a' in fruit

True

In [49]:
'c' in fruit

False

# Class Three
- a function is a named sequence of statements that perform a computation
## calling a function
- def nameoffunction():
-   statement
-   return
- namefunction()
## scope of variables
- GLOBAL- the variable is declared outside the function
- LOCAL- the variable is declared inside the function
## Anonymous functions
- we declare using the lambda keyword
### How
- sq= lambda x:x*x
- sq(5)

In [10]:
height= int(input("What is your height(cm)?"))
if height<180:
    print("Too short for the army")
else:
    teeth= int(input("How many teeth do you have?"))
    if teeth != 32:
        print("You dont have enough teeth")
    else:
        print("You can join the army")

What is your height(cm)?199
How many teeth do you have?32
You can join the army

In [16]:
def return_lyrics():
    print("You cant stop the music")
return_lyrics()

You cant stop the music

In [13]:
def summation(a,b):
    return a+b
summation(1,4)

5

In [17]:
def repeat():
    return_lyrics()
    return_lyrics()
    return_lyrics()
repeat()

You cant stop the music
You cant stop the music
You cant stop the music

In [24]:
# global
name= "kb"
def show():
    print("Inside- Your name is",name)
show()
print("Outside- Your name is",name)

Inside- Your name is kb
Outside- Your name is kb

In [23]:
#local
def show():
    jina= "kb"
    print("Your name is",jina)
show()

print("Your name is",jina)

Your name is kb

NameError: name 'jina' is not defined

In [40]:
n= int(input("Give me a number"))
def is_even_odd():
    if n%2== 0:
        print("Even")
    else:
        print("Odd")
is_even_odd()

Give me a number8
Even

In [31]:
# if we use print in a function we cannot store it in a variable

def shows():
    print("Rick")
shows()
def new_show():
    return("Morty")
new_show()
a= shows()
b= new_show()
print(a)
print(b)

Rick
Rick
None
Morty

In [32]:
sq= lambda x:x*x
sq(5)

25

In [33]:
d= lambda x,y:x*y
d(3,5)

15

In [36]:
def is_even(a):
    return a%2== 0
num=[1,2,3,4,5,6,7,8,9]
even= list(filter(is_even,num))
even

[2, 4, 6, 8]

In [187]:
num = int(input())
b = lambda n:n%2==0

b(num)

9

False

In [191]:
def is_even(a):
    return a%2==0

num=[1,2,3,4,5,6,7,8,9]

even = list(filter(is_even,num))

even

[2, 4, 6, 8]

In [ ]:
import time
count=5
while count<=5:
    count= count -1
    print('Hello World',count)
    time.sleep(2)
    print('Times Up')

In [198]:
from random import randint
a = randint(1,100)
a

88

In [201]:
for n in range(1)
n

SyntaxError: invalid syntax (<ipython-input-201-17ef937b99aa>, line 1)

In [48]:
def is_odd(b):
    return b%2!=0
numm= range(0,100)
odd= list(filter(is_odd,numm))
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Class Four
## the for loop
- range(1,10)- 1-9
- range(10)-0-9
- range(1,10,20- 1,3,5,7,9
- for (variable) in (collection):

In [1]:
while True:
    print("Hello")
    break

Hello

In [50]:
# to break an infinite loop
var= 1
while var == 1:
    print("Hello")
    var=2

Hello

In [51]:
numbers = range(10)
for number in numbers:
    print (number)

0
1
2
3
4
5
6
7
8
9

In [9]:
number= range(1,10,2)
for numbers in number:
    print(numbers)

1
3
5
7
9

In [27]:
fruits= ["banana","apple","kiwi","pineapple"]
for fruit in fruits:
    print("This is fruit:",fruit)
print("fruits, that\'s all")

This is fruit: banana
This is fruit: apple
This is fruit: kiwi
This is fruit: pineapple
fruits, that's all

In [32]:
fruits= ["banana","apple","kiwi","pineapple"]
for fruit in fruits:
    print(fruit)
print(fruit)

banana
apple
kiwi
pineapple
pineapple

In [52]:
number= int(input("Enter number"))
even= list(range(0,number+1,2))
for number in range(0,100):
        print(even)
        break

Enter number88
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88]

In [60]:
number= int(input("Enter number"))
odd= []
for n in range(1,number+1,2):
    odd.append(n)
print(odd)

Enter number44
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

In [18]:
number= int(input("Enter number"))
even= []
for n in range(0,number+1,2):
    even= even + [n]
print(even)

Enter number44
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]

In [21]:
week= ["Mon","Tue","Wed"]
time=[8,9,10,11]
for day in week:
    print(day)
    for t in time:
        print(t)

Mon
8
9
10
11
Tue
8
9
10
11
Wed
8
9
10
11

In [67]:
import time
count= 0
while count<=5:
    print("Hello World",count)
    count= count + 1
    time.sleep(0)
print("Times up")

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Times up

In [68]:
count= 5
while count> 0:
    print("Hello Harry",count)
    count= count-1

Hello Harry 5
Hello Harry 4
Hello Harry 3
Hello Harry 2
Hello Harry 1

In [71]:
answer= input("Do you enjoy Python?")
while answer.upper() != "YES":
    print("Try again")
    answer= input("Do you enjoy Python?")
else:
    print("That is great")

Do you enjoy Python?no
Try again
Do you enjoy Python?ye\
Try again
Do you enjoy Python?yes
That is great

In [83]:
from random import randint 
a= range(1,200)
print(range)

<class 'range'>

In [94]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)
for ev in numbers:
    print(is_eve)
print(is_eve)

The sum is 48
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>
<function is_eve at 0x000002934FDACC18>

In [ ]:
number= int(input("Enter number"))
while

# Class Four
- pass ignores the error in a function
# Data structure
- particular way of organizing data to be used effectively
- tuples()
- dictionaries{}
- sets([ ])
- lists[ ]

## Lists 
- sequence of values
- 
## Tuples
- syntax
- numbers= (10, 20, 30)
- a= tuple("python")
- tuple([1, 2, 3, 4])
- tuples are immutable hence a = sign creates a copy
## Dictionaries
- cannot create same key in a dictionary

# Sets
- | is union
- & is intersection
- < is subset
- - is difference 
- ^ is symmetrical difference

In [182]:
f= set([1, 2, 3, 4, 5, 6])
a= set([1, 2, 3, 4])
c= set([3, 4, 5, 6])

In [179]:
a | c

{1, 2, 3, 4, 5, 6}

In [183]:
a < f

True

In [184]:
c - a # remove from c what is in a

{5, 6}

In [186]:
c ^ a # symmetrical diff

{1, 2, 5, 6}

In [172]:
squares= {}
for x in range(8):
    squares[x]= x**2

In [173]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [175]:
[x for x in squares.items()]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)]

In [168]:
eng2fre= {'one':'un',
          'two':'tre'}
type(eng2fre)

dict

In [170]:
# checking your keys
eng2fre.keys()

dict_keys(['one', 'two'])

In [171]:
eng2fre['two']

'tre'

In [167]:
eng2esp= {one ='uno', two='deux'}

SyntaxError: invalid syntax (<ipython-input-167-ec216bae5a31>, line 1)

In [95]:
def show():
    pass
def printer():
    print("Hello")
show()
printer()

Hello

In [97]:
random= ["egg", 2, 3, 14, [1, 2, 5, 10]]
random

['egg', 2, 3, 14, [1, 2, 5, 10]]

In [103]:
random[4]

5

In [104]:
random

['egg', 2, 3, 14, 5]

In [106]:
empty= list()
empty

[]

In [107]:
2 in random

True

In [113]:
numbers= [10, 20, 30, 40]
len(numbers)

4

In [114]:
for i in range(len(numbers)):
    numbers[1]= numbers[1]*2
print(numbers)

[10, 320, 30, 40]

In [116]:
numbers.count(10)

1

In [ ]:
x= [1, 2, 3]
y

In [118]:
even= []
for i in range(10):
    if i%2== 0:
        even.append(i)
even

[0, 2, 4, 6, 8]

In [150]:
mylist= [1, 2, 2, "Hey","Hey"]

def rem_duplicates(mylist):
    correct= []
    duplicates= []
    for i in mylist:
        if i in correct:
            duplicates.append(i)
        else:
            correct.append(i)
    return correct
print(rem_duplicates(mylist))

[1, 2, 'Hey']

In [144]:
rem_duplicates(i)

[0, 1, 2, 3, 4]

In [148]:
def remove(mylist):
    final_list=[]
    for i in mylist:
        if i not in final_list:
            final_list.append(i)
    return final_list
mylist=[1, 2, 2, "Hey","Hey"]
print(remove(mylist))

[1, 2, 'Hey']

In [152]:
a= tuple(["python", "mamba"])
a

('python', 'mamba')

In [153]:
student, food, car= 'Harry', 'Pizza', 'Mercedes'

In [155]:
car

'Mercedes'

In [156]:
address= 'monty@python.org'
uname, domain= address.split('@')
domain

'python.org'

In [159]:
divmod(5,2)
quot, rem= divmod(5,2)
rem

1

In [ ]:
def min_max(t):

# Class Five